body {
	color: white;
}

html {
	background-color: #456628;
	background-image: url("./images/background.jpeg");
}

h1 {
	text-align: center;
	font-family: 'Nova Square', cursive;
}

table {
	margin: 50px 0 0 0;
}

table, th, td {
	color: white;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #8c7373;
	text-align: center;

}

img {
	border-radius: 10em;
}

a {
	color: white;
}


#warnung {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	text-align: center;
	color: white;
}

#warnung h3 {
	color: red;
}

#fehlermeldung {
	font-size: 11px;
	color: red;
	margin-top: 10px;
}

form {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0 15px 0;
	text-align: center;
	color: white;
}

#bild {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0 0 0;
}
